[run]
source = src
omit =
    tests/*
    validation/*
    Home.py
    pages/*
    build.py

[report]
show_missing = True
skip_empty = True
precision = 2

exclude_lines =
    pragma: no cover
    if __name__ == "__main__":
    raise NotImplementedError

[html]
directory = htmlcov